<!DOCTYPE html>
<html>

<head>
    <title>Crypto Promise</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class='container jumbotron' style='margin-bottom: 0'>
        <h1 class='text-center mb-4'>Crypto Promise</h1>
        <!-- <hr style='width: 50%; height: 1px; border:none; background-color:darkgrey;'></hr> -->
        <div class='container'>
            <img class='mx-auto' src='https://thumbs.gfycat.com/FaithfulFittingGermanwirehairedpointer-max-1mb.gif'>
        </div>
    </div>
    <div class='container d-flex flex-row-md justify-content-center align-items-center p-2' style='background:white;'>
        <% for (let i = 0; i < filteredProducts.length; ++i) { %>
            <div class='flex m-2 p-1 text-center' style='flex-grow:1;background:lightblue;box-shadow: 0px 20px 30px -5px rgba(209,209,209,1);'>
                <p class='lead'>
                    <%= filteredProducts[i].id %>
                </p>
                <p>
                    <%= filteredProducts[i].displayName %>
                </p>
                <p>Status:
                    <%= filteredProducts[i].status %>
                </p>
                <p>Max Trade Amount:
                    <%= filteredProducts[i].base_max_size %>
                        <%= filteredProducts[i].base_currency %>
                </p>
                <p>Max Market Fund:
                    <%= filteredProducts[i].max_market_funds %>
                        <%= filteredProducts[i].base_currency %>
                </p>
            </div>
            <% } %>
    </div>
</body>

</html>