body {
  background: #FFFDFF;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'VT323', monospace;

}

h1 {
  font-size: 56px; 
}

.jumbotron {
  background: #FFFDFF;
}

a {
  color: #00B7FF;
}

img {
  display: block;
  margin: auto;
}